.grantspage {
  .grant {
    &_heading {
      margin-top: 270px;
      padding: 0 25px;
      position: relative;
      z-index: 2;
      transition: opacity 0.5s ease, color 0.5s ease;

      h2 {
        font-size: 7.6rem;
        font-weight: 400;
        letter-spacing: 9.12px;
      }

      @include maxW(1023px) {
        padding: 0;
        margin: 0;

        h2 {
          font-size: 4.9rem;
          letter-spacing: 5.88px;
        }
      }
    }

    &_inner {
      @include maxW(1023px) {
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 15px;
      }
    }

    &_group {
      position: fixed;
      width: 100%;
      bottom: 0;
      z-index: 3;

      padding: 25px;
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: flex-end;

      @include maxW(1023px) {
        position: unset;
        padding: 0;
      }
    }

    &_list {
      display: inline-flex;
      flex-wrap: wrap;
      column-gap: 90px;
    }

    &_news {
      text-align: right;

      a {
        font-size: 2.6rem;
        line-height: 1.8;
        text-decoration: underline;
        text-underline-offset: 8px;
        letter-spacing: 1.56px;
      }

      @include maxW(1023px) {
        a {
          font-size: 1.8rem;
          line-height: 2.2;
          letter-spacing: 1.08px;
          text-underline-offset: 6px;
        }
      }
    }

    &_items {
      @include maxW(1023px) {
        display: none;
        &.active {
          display: block;
        }
      }
    }

    &_link {
      width: fit-content;
      font-size: 7.6rem;
      letter-spacing: 9.12px;

      &:hover {
        opacity: 1;
      }

      sup {
        font-size: 4rem;
      }

      p {
        display: block;
        transition: opacity 0.5s ease, color 0.5s ease;
      }

      @include maxW(1023px) {
        font-size: 4.9rem;
        letter-spacing: 5.88px;

        sup {
          font-size: 3rem;
        }
      }
    }

    &_overlay {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transition: background-color 0.5s cubic-bezier(0.77, 0, 0.18, 1);
      pointer-events: none;

      @include maxW(1023px) {
        display: none;
      }
    }

    &_cover {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 2;
      transition: opacity 0.5s cubic-bezier(0.77, 0, 0.18, 1);
      transition-delay: 0s;

      &.showed {
        opacity: 1;
        transition: opacity 0.5s cubic-bezier(0.77, 0, 0.18, 1);
        transition-delay: 0.2s;
      }

      &.no-color {
        background-color: #fff;
      }

      img {
        opacity: 1;
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 45px;
        transform: scale(0.99);
        transition: transform 0.3s cubic-bezier(0.77, 0, 0.18, 1);

        &.hovered {
          transform: scale(1);
          transition: transform 0.3s cubic-bezier(0.77, 0, 0.18, 1);
        }
      }

      @include maxW(1023px) {
        display: none;
      }
    }

    .first-showed .artist-cover.showed {
      opacity: 1;
      transition: opacity 0.5s cubic-bezier(0.77, 0, 0.18, 1);
    }

    &_swiper {
      display: none;
      position: relative;
      width: 100%;
      height: 100vh;
      height: var(--app-height);
      padding: 37px;
      overflow: hidden;

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;

        figure {
          height: fit-content;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            aspect-ratio: 1/1;
          }
        }
      }

      @include maxW(1023px) {
        display: block;
      }
    }

    &_intro {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      height: var(--app-height);
      background-color: $white-cl;
      z-index: 10;
      display: none;

      &_inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
          text-align: center;
          font-size: 2.1rem;
          letter-spacing: 0.42px;
          line-height: 2.2;
          font-weight: 400;
          display: inline-block;
          overflow: hidden;
          position: relative;

          &:before {
            content: "";
            width: 90px;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            background-color: currentColor;
            animation: swipe 1.5s forwards infinite;
          }
        }

        @keyframes swipe {
          50% {
            left: 100%;
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          }

          51% {
            opacity: 0;
          }
          52% {
            left: -100%;
          }
          53% {
            opacity: 1;
          }
          100% {
            left: 0;
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
      }

      @include maxW(1023px) {
        display: block;
      }
    }
  }
}
