.grantspage {
  // ====== GRANTS =====
  .grant {
    &_heading {
      margin-top: 270px;
      padding: 0 25px;
      position: relative;
      z-index: 2;
      transition: opacity 0.5s ease, color 0.5s ease;

      h2 {
        font-size: 7.6rem;
        font-weight: 400;
        letter-spacing: 9.12px;
      }

      @include maxW(1023px) {
        padding: 0;
        margin: 0;

        h2 {
          font-size: 4.9rem;
          letter-spacing: 5.88px;
        }
      }
    }

    &_inner {
      @include maxW(1023px) {
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 15px;
      }
    }

    &_group {
      position: fixed;
      width: 100%;
      bottom: 0;
      z-index: 3;

      padding: 25px;
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: flex-end;

      @include maxW(1023px) {
        position: unset;
        padding: 0;
      }
    }

    &_list {
      display: inline-flex;
      flex-wrap: wrap;
      column-gap: 90px;
    }

    &_news {
      text-align: right;

      a {
        font-size: 2.6rem;
        line-height: 1.8;
        text-decoration: underline;
        text-underline-offset: 8px;
        letter-spacing: 1.56px;
      }

      @include maxW(1023px) {
        a {
          font-size: 1.8rem;
          line-height: 2.2;
          letter-spacing: 1.08px;
          text-underline-offset: 6px;
        }
      }
    }

    &_items {
      @include maxW(1023px) {
        display: none;
        &.active {
          display: block;
        }
      }
    }

    &_link {
      width: fit-content;
      font-size: 7.6rem;
      letter-spacing: 9.12px;

      &:hover {
        opacity: 1;
      }

      sup {
        font-size: 4rem;
      }

      p {
        display: block;
        transition: opacity 0.5s ease, color 0.5s ease;
      }

      @include maxW(1023px) {
        font-size: 4.9rem;
        letter-spacing: 5.88px;

        sup {
          font-size: 3rem;
        }
      }
    }

    &_overlay {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transition: background-color 0.5s cubic-bezier(0.77, 0, 0.18, 1);
      pointer-events: none;

      @include maxW(1023px) {
        display: none;
      }
    }

    &_cover {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 2;
      transition: opacity 0.5s cubic-bezier(0.77, 0, 0.18, 1);
      transition-delay: 0s;

      &.showed {
        opacity: 1;
        transition: opacity 0.5s cubic-bezier(0.77, 0, 0.18, 1);
        transition-delay: 0.2s;
      }

      &.no-color {
        background-color: #fff;
      }

      img {
        opacity: 1;
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 45px;
        transform: scale(0.99);
        transition: transform 0.3s cubic-bezier(0.77, 0, 0.18, 1);

        &.hovered {
          transform: scale(1);
          transition: transform 0.3s cubic-bezier(0.77, 0, 0.18, 1);
        }
      }

      @include maxW(1023px) {
        display: none;
      }
    }

    .first-showed .artist-cover.showed {
      opacity: 1;
      transition: opacity 0.5s cubic-bezier(0.77, 0, 0.18, 1);
    }

    &_swiper {
      display: none;
      position: relative;
      width: 100%;
      height: 100vh;
      height: var(--app-height);
      padding: 37px;
      overflow: hidden;

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;

        figure {
          height: fit-content;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            aspect-ratio: 1/1;
          }
        }
      }

      @include maxW(1023px) {
        display: block;
      }
    }

    &_intro {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      height: var(--app-height);
      background-color: $white-cl;
      z-index: 10;
      display: none;

      &_inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
          text-align: center;
          font-size: 2.1rem;
          letter-spacing: 0.42px;
          line-height: 2.2;
          font-weight: 400;
          display: inline-block;
          overflow: hidden;
          position: relative;

          &:before {
            content: "";
            width: 90px;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            background-color: currentColor;
            animation: swipe 1.5s forwards infinite;
          }
        }

        @keyframes swipe {
          50% {
            left: 100%;
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          }

          51% {
            opacity: 0;
          }
          52% {
            left: -100%;
          }
          53% {
            opacity: 1;
          }
          100% {
            left: 0;
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
      }

      @include maxW(1023px) {
        display: block;
      }
    }
  }
  // ====== DETAILS =====
  .detail {
    &_container {
      position: relative;
      width: 100%;
      height: 100vh;
      height: var(--app-height);
      overflow: hidden;
    }

    &_inner {
      width: 100%;
      height: 100%;
    }

    &_right {
      width: 77.78%;
      height: 100%;
      margin-left: auto;

      @include maxW(1023px) {
        width: 100%;
        margin: 0 auto;
      }
    }

    &_back {
      position: fixed;
      top: 25px;
      left: 25px;
      z-index: 5;

      a {
        font-size: 4.6rem;
        letter-spacing: 5.52px;
      }

      @include maxW(1023px) {
        top: 15px;
        left: 15px;

        a {
          font-size: 3rem;
          letter-spacing: 3.6px;
        }
      }
    }

    &_title {
      position: fixed;
      top: 250px;
      left: 25px;
      z-index: 5;

      h2 {
        font-size: 7.6rem;
        font-weight: 400;
        letter-spacing: 9.12px;

        sup {
          font-size: 4rem;
        }
      }

      p {
        font-size: 3.8rem;
      }

      @include maxW(1023px) {
        top: auto;
        bottom: 15px;
        left: 15px;

        h2 {
          font-size: 4.9rem;
          letter-spacing: 5.88px;

          sup {
            font-size: 3rem;
          }
        }
      }
    }

    &_profile {
      position: fixed;
      bottom: 25px;
      left: 25px;
      z-index: 5;
      cursor: pointer;

      &_inner {
        display: grid;
        grid-template-columns: 8.6em auto;
        align-items: center;
        gap: 12px;
      }

      p {
        font-size: 4.6rem;
        letter-spacing: 5.52px;
      }

      @include maxW(1023px) {
        bottom: auto;
        left: auto;
        top: 15px;
        right: 15px;

        &_inner {
          grid-template-columns: 5.6em auto;
          gap: 7px;
        }

        p {
          font-size: 3rem;
          letter-spacing: 3.6px;
        }

        .plus {
          svg {
            display: block;
            width: 15px;
            height: auto;
          }
        }
      }
    }

    &_swiper {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      padding: 25px 25px 25px 0;
      margin-left: auto;

      @include maxW(1023px) {
        padding: 15px;
        margin: 0 auto;
      }
    }

    &_slide {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: right;
      }

      @include maxW(1023px) {
        img {
          object-position: center;
        }
      }
    }

    &_control {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .button-swiper {
        font-size: 0;
        border: 0;
        padding: 0;
        width: 50%;
        height: 100%;
        background-color: transparent;
        z-index: 1;
        cursor: none;

        &:after {
          content: "";
        }
      }

      .swiper-button-prev {
        position: absolute;
        top: 20px;
        left: 0;
      }

      .swiper-button-next {
        position: absolute;
        top: 20px;
        right: 0;
      }

      @include maxW(1023px) {
        display: none;
      }
    }

    &_pager {
      position: absolute;
      z-index: 2;
      bottom: 40px;
      right: 40px;
      font-size: 3.6rem;
      letter-spacing: 4.32px;
      color: $white-cl;
      mix-blend-mode: difference;
      pointer-events: none;

      &_inner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
      }

      .line {
        display: inline-block;
        width: 60px;
        height: 1px;
        background-color: $white-cl;
      }

      @include maxW(1023px) {
        bottom: 16px;
        right: 15px;
        font-size: 3rem;
        letter-spacing: 3.6px;
      }
    }
  }

  // ===== CURSOR =====
  .cursor {
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 999999999;
    mix-blend-mode: difference;

    @include maxW(1023px) {
      display: none;
    }
  }
}
