.newspage {
  &_container {
    margin-top: 270px;

    @include maxW(1023px) {
      margin-top: 200px;
    }
  }

  &_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include maxW(1023px) {
      display: block;
    }
  }

  &_left {
    h2 {
      font-size: 7.6rem;
      font-weight: 400;
      white-space: nowrap;
      letter-spacing: 9.12px;
    }

    @include maxW(1023px) {
      h2 {
        font-size: 4.9rem;
        letter-spacing: 5.88px;
      }
    }
  }

  &_right {
    @include maxW(1023px) {
      padding: 0;
      margin-top: 60px;
    }
  }

  // =======
  .detail {
    &_heading {
      p {
        font-size: 2rem;
        opacity: 0.5;
      }

      h3 {
        font-size: 3.2rem;
        line-height: 1.44;
        letter-spacing: 1.92px;
        font-weight: 300;
        font-family: $tsu-fonts;
      }

      @include maxW(1023px) {
        p {
          font-size: 1.6rem;
        }

        h3 {
          font-size: 2.2rem;
          line-height: 1.73;
          letter-spacing: 1.32px;
        }
      }
    }

    &_thumbnail {
      margin-top: 60px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &_content {
      font-family: $tsu-fonts;

      h4 {
        font-size: 3.2rem;
        line-height: 1.7;
        letter-spacing: 1.92px;
        font-weight: 300;
        margin-top: 120px;
      }

      p {
        margin-top: 60px;
        font-size: 1.6rem;
        letter-spacing: 1.5px;
        line-height: 1.5;
        font-feature-settings: "palt";
        font-weight: 300;

        a {
          width: fit-content;
          text-decoration: underline;
        }

        img {
          width: 100%;
          height: 1.42857143%;
          object-fit: contain;
        }
      }

      @include maxW(1023px) {
        p {
          margin-top: 35px;
          font-size: 1.4rem;
          line-height: 1.4;
          letter-spacing: 0.2px;
        }

        h4 {
          margin-top: 60px;
          font-size: 2.2rem;
        }
      }
    }

    &_control {
      margin-top: 120px;
      display: flex;
      gap: 20px;

      a {
        font-size: 2rem;
        letter-spacing: 0.4px;
      }

      @include maxW(1023px) {
        margin-top: 60px;
        gap: 15px;

        a {
          font-size: 1.6rem;
        }
      }
    }
  }
}
